@model Modulo2Proyectopráctico.Models.Videogames
@{
    ViewBag.Title = "GameForm";
}

<h2>GameForm</h2>
<ol class="breadcrumb">
    <li><a href="~/">Nuevo Producto</a></li>
    <li class="active">@(Model.id > 0 ? Model.name : "Nuevo registro")</li>
</ol>

@using (Html.BeginForm("Guardar", "Home", FormMethod.Post, new { id = "frm-li" }))
{
    @Html.HiddenFor(x => x.id)
    <div class="panel panel-default">
        <div class="panel-heading">Información de la compra</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(x => x.name)
                @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.name, null, new { @class = "label label-danger" })
            </div>
            <div class=" form-group">
                @Html.Label("Publisher")
                @Html.TextBoxFor(x => x.publisher)
            </div>
            <div class=" form-group">
                @Html.Label("Year")
                @Html.TextBoxFor(x => x.year)
            </div>
            <div class=" form-group">
                @Html.Label("Genre")
                
                <select name="genre">
                    <option @(Model.Genre() == Genre.Unknow ? "selected" : "" ) value="0">Unknow</option>
                    <option @(Model.Genre() == Genre.Action ? "selected" : "" ) value="1">Action</option>
                    <option @(Model.Genre() == Genre.Adventure ? "selected" : "" ) value="2">Adventure</option>
                    <option @(Model.Genre() == Genre.Strategy ? "selected" : "" ) value="3">Strategy</option>
                    <option @(Model.Genre() == Genre.RPG ? "selected" : "" ) value="4">RPG</option>
                    <option @(Model.Genre() == Genre.Sport ? "selected" : "" ) value="5">Sport</option>
                  
                </select>
            </div>
            <div class=" form-group">
                @Html.Label("Platfrom")
               
                <select name="platfrom">
                    <option @(Model.Platfrom() == Platfrom.Unknow ? "selected" : "" ) value="0">Unknow</option>
                    <option @(Model.Platfrom() == Platfrom.PC? "selected" : "" ) value="1">PC</option>
                    <option @(Model.Platfrom() == Platfrom.PS4 ? "selected" : "" ) value="2">PS4</option>
                    <option @(Model.Platfrom() == Platfrom.XBOXONE ? "selected" : "" ) value="3">XBOXONE</option>
                   
                </select>
            </div>
            <div class=" form-group">
                @Html.Label("Score")
                @Html.TextBoxFor(x => x.score)
                
            </div>
            <div class=" form-group">
                @Html.Label("Online")
                @Html.CheckBoxFor(x => x.online )
            </div>
            <div class=" form-group">
                @Html.Label("PEGI")
               
                <select name="pegi">
                    <option @(Model.PEGI() == PEGI.Unknow ? "selected" : "" ) value="0">Unknow</option>
                    <option @(Model.PEGI() == PEGI.PEGI3 ? "selected" : "" ) value="1">PEGI3</option>
                    <option @(Model.PEGI() == PEGI.PEGI6 ? "selected" : "" ) value="2">PEGI6</option>
                    <option @(Model.PEGI() == PEGI.PEGI12 ? "selected" : "" ) value="3">PEGI12</option>
                    <option @(Model.PEGI() == PEGI.PEGI18 ? "selected" : "" ) value="3">PEGI18</option>

                </select>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
}
